body {
	margin-top: 0px;
  padding: 0px;
  color: black;
  background: #191919;
  border-left: #FFFFFF;
  text-align: center;
}
#main {
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	margin: 0 auto;
	width: 800px;
	background: #000000;	
	text-align: left;
}
#header {
	z-align: 2;
  background: url("/images/head.jpg");
  width: 799px;
  height: 139px;
  font-family: Verdana;
  font-size: 10pt;
  margin-top: center;
}
#navigation li {
  list-style-type: none;
  display: inline;
  border-right: 1px;
  border-right-color: white;
}
#navigation li a {
  padding: 5px;
  text-decoration: none;
  color: white;
}
#navigation li a:hover {
  background: #b9b9b9;
  text-decoration: underline;
}
#leftcol {
  background-repeat: no-repeat;
  background: url("/images/leftcol.jpg");
  float: left;
  width: 154px;
}
#content {
  float: left;
  margin-left: 0px;
  padding-left: 120px;
  background: url("/images/leftcol.jpg");
  background-repeat: no-repeat;
  margin-top: 0px;
  font-family: Verdana;
  font-size: 10pt;
  color: white;
  padding-right: 30px;
}
#inthecontent {
	border-right: 0px solid #FFF;
	border-top: 0px solid #FFF;
	padding-left: 5px;
}
#footer {
  background: #000;
  color: white;
  font-family: Verdana;
  font-size: 10pt;
  clear: left;
  width: 779px;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
  vertical-align: bottom;
}
#maintext {
	padding-left: 6px;
	margin-left: 3px;
	margin-right: 15px;
	padding-top: 0px;
	border-left: 1px dotted #FFF;
	border-bottom: 1px dotted #FFF;
	padding-bottom: 5px;
}
#pictures {
  text-align: center;
}
#pictures img,img.display {
  border: 1px dotted #FFF;
  padding: 2px;
  margin: 1px;
}
.title,h1 {
  margin-right: 15px;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding-left: 4px;
  padding-bottom: 2px;
  font: normal 14pt Arial, sans-serif;
  font-weight: bold;
}
.subtitle,h2 {
  font: normal 12pt Arial, sans-serif;
  font-weight: bold;
}
hr {
  border: 0;
  height: 1px;
  background-color: #FFF;
}
a {
	color: #FFF;
}
input.btn{
   color:#FFF;
   font-family: Arial, sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#000;
   border:1px solid;
   border-top-color:#FFF;
   border-left-color:#FFF;
   border-right-color:#FFF;
   border-bottom-color:#FFF;
}

.highlight
{
	border-color: #76913D;
	border-width: 1px;
	border-style: dashed;
	background: #505050;
}
