setenv RAILS_ENV hefacmuserdir
AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi
Options +ExecCGI
RewriteEngine On
RewriteBase /~hef/acmlanparty/
RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.cgi [QSA,L]

